# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg
.env
*.env
venv/
env/

# VS
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows
Thumbs.db
*.swp
*.swo

# Audio temp
temp_voice.wav
